<nav class="bg-white shadow-lg">
    <div class="px-4">
<!--    <div class="max-w-6xl mx-auto px-4">-->
      <div class="flex justify-between">

        <!-- Logo -->
        <div class="flex items-center py-2">
          <a routerLink="/catalogue" class="text-xl font-bold text-gray-800">
            <img src="/logo.jpg" alt="Logo" class="h-10">
          </a>
        </div>

        <!-- Menu principal (desktop) -->
        @if (estConnecte()) {
        <div class="hidden md:flex items-center space-x-1">
          <a routerLink="/catalogue" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Catalogue</a>
          @if (roleUtilisateur() !== 'UTILISATEUR') {
            <a routerLink="livres/nouveau" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Ajouter un livre</a>
          }
          <a routerLink="/profil" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Profil</a>
          @if (roleUtilisateur() === 'ADMINISTRATEUR') {
            <a routerLink="/dashboard-admin" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Gestion Utilisateur</a>
          }
          <a routerLink="/connexion" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300" (click)="deconnexion()" title="Se déconnecter">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5.636 5.636a9 9 0 1 0 12.728 0M12 3v9" />
            </svg>
          </a>
        </div>
        } @else {
          <div class="hidden md:flex items-center space-x-1">
          <a routerLink="/connexion" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Se connecter</a>
          <a routerLink="/inscription" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">S'inscrire</a>
          </div>
        }

        <!-- Bouton menu burger (mobile) -->
        <div class="md:hidden flex items-center">
          <button id="menu-toggle" class="outline-none mobile-menu-button" (click)="onMenuBurger()">
            <svg class="w-6 h-6 text-gray-800" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>

    <!-- Menu mobile (caché par défaut) -->
  @if (estConnecte()) {
    <div id="mobile-menu" class="hidden mobile-menu">
      <ul class="md:hidden">
        <li><a href="/" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Catalogue</a></li>
   @if (roleUtilisateur() !== 'UTILISATEUR') {
        <li><a routerLink="livres/nouveau" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Ajouter un livre</a></li>
  }
        <li><a routerLink="/profil" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Profil</a></li>
        <li><a routerLink="/connexion" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300" title="Se déconnecter">Se déconnecter</a></li>
      </ul>
    </div>
  } @else {
    <div id="mobile-menu" class="hidden mobile-menu">
      <ul class="md:hidden">
        <li><a routerLink="/connexion" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">Se connecter</a></li>
        <li><a routerLink="/inscription" class="py-4 px-3 text-gray-800 hover:text-blue-500 transition duration-300">S'inscrire</a></li>
      </ul>
    </div>
  }
  </nav>
