<h

<form class="flex flex-col items-center gap-6 w-full max-w-4xl mx-auto p-4" [formGroup]="formgroup">
  <p-floatlabel class="w-full">
    <input pInputText class="w-full" type="text" id="saisie" formControlName="saisie" />
    <label for="saisie">Titre, auteur ou ISBN</label>
  </p-floatlabel>

  <div class="flex flex-col md:flex-row gap-4 w-full">
    <p-floatlabel class="flex-1 min-w-[200px]">
      <p-multiselect
        id="genres"
        formControlName="genres"
        display="chip"
        [options]="genresOptions()"
        appendTo="body"
        filter
        class="w-full"
      />
      <label for="genres">Genre(s)</label>
    </p-floatlabel>

    <p-floatlabel class="flex-1 min-w-[200px]">
      <p-select
        id="disponibilite"
        formControlName="disponibilite"
        [options]="etatsOptions()"
        appendTo="body"
        class="w-full"
      />
      <label for="disponibilite">Disponibilité</label>
    </p-floatlabel>
  </div>

    <p-button severity="info" (onClick)="onSubmit()">
    Rechercher
  </p-button>
</form>

  <app-affichage-livres
    [livres] = livres()
    class="flex flex-wrap gap-4 justify-center px-4"
  />

@if (livres().length > 0) {
  <div class="card flex justify-center">
    <p-paginator (onPageChange)="onPageChange($event)" [first]="page().pageable.pageNumber" [rows]="page().pageable.pageSize" [totalRecords]="page().numberOfElements" [rowsPerPageOptions]="[10, 20, 30]" />
</div>
}
