<h4 class="text-center m-2 text-4xl font-bold">Catalogue</h4>
@if (roleUtilisateur() == 'BIBLIOTHECAIRE'|| roleUtilisateur() == 'ADMINISTRATEUR') {
<section class="mx-auto p-4">
  <app-choix-utilisateur class="shadow-sm" [userIdSignal]="userIdSelected"/>
</section>
}
<form class="flex flex-col items-center gap-6 w-full max-w-4xl mx-auto p-4" [formGroup]="formgroup">
  <p-floatlabel class="w-full">
    <input pInputText class="w-full" type="text" id="saisie" formControlName="saisie" />
    <label for="saisie">Titre, auteur ou ISBN</label>
  </p-floatlabel>

  <div class="flex flex-col md:flex-row gap-4 w-full">
    <p-floatlabel class="flex-1 min-w-50">
      <p-multi-select
        id="genres"
        formControlName="genres"
        display="chip"
        [options]="genresOptions()"
        appendTo="body"
        filter
        class="w-full"
      />
      <label for="genres">Genre(s)</label>
    </p-floatlabel>

    <p-floatlabel class="flex-1 min-w-50">
      <p-select
        id="disponibilite"
        formControlName="disponibilite"
        [options]="etatsOptions"
        optionLabel="libelleEtat"
        optionValue="valeurEtat"
        [checkmark]="true"
        [showClear]="true"
        appendTo="body"
        class="w-full"
      />
      <label for="disponibilite">Disponibilité</label>
    </p-floatlabel>
  </div>

  <p-button severity="info" (onClick)="onSubmit()">Rechercher</p-button>
</form>
<div class="flex flex-col m-auto items-center gap-4 w-full">
  @if (isLoading) {
    <p-progressSpinner ariaLabel="loading" />

  } @else if (livres().length > 0) {
    <app-affichage-livres
      [livres]="livres"
      [userIdSignal]="userIdSelected"
      (demandeRefresh)="onSubmit()"
      class="flex flex-wrap gap-6 justify-center px-6 w-full overflow-hidden" />
  } @else {
    <p-message>Aucun livre ne correspond à vos critères de recherche</p-message>
  }

  <p-paginator (onPageChange)="onPageChange($event)" [first]="page().pageable.pageNumber" [rows]="page().pageable.pageSize" [totalRecords]="page().totalElements" [rowsPerPageOptions]="[10, 20, 30]" />
</div>
